.bg-before::before{
    content:'';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    inset:0;
}